.my-class-box{
  padding-left:10px; padding-top:10px;
}

.my-class-box-1 {
  border-bottom:1px solid #dbddf1
}

.sub-title-box {
  padding-left:10px; padding-top:10px;
}

.table-margin {
  margin-bottom: 20px;
}