@font-face {font-family: 'MuseoSans-500';src: url('webfonts/28503A_0_0.eot');src: url('webfonts/28503A_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/28503A_0_0.woff') format('woff'),url('webfonts/28503A_0_0.ttf') format('truetype');}
@import url(http://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900);
@import url(http://fonts.googleapis.com/css?family=Belgrano);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext);


/* Reset */
body {margin:0; padding:0; text-align:center; background:#e7e7e7;}
body,div,td,p,h1,h2 {font-family: 'Open Sans', sans-serif; font-size:13px; line-height:1.4; color:#333; }

h1,h2,h3 {margin:0;}


form {margin:0; padding:0;}
img {border:0}

.box      {border:1px #cccccc solid;} /* input style */
.boxTx    {border:1px #dddddd solid; background:#ffffff; padding:20px;}

a:link, a:visited, a:active {text-decoration:none; color:#333333;}
a:hover {text-decoration:underline; color:#333333;}

a.link_blue:link, a.link_blue:visited, a.link_blue:active {text-decoration:none; color:#6c28d3;}
a.link_blue:hover {text-decoration:underline; color:#6c28d3;}

/*////////////// Botton Design /////////////////////*/
a.button_org:link, a.button_org:visited, a.button_org:active, a.button_org:hover {
font-family:Tahoma;
height:22px; 
line-height:130%;
background:url('job_images/buttonBgOrg.gif') repeat-x; 
color:#ffffff; 
border-right:1px #d95210 solid; 
border-bottom:1px #d95210 solid; 
padding:4px 10px 0 10px;
}

a.button_blue:link, a.button_blue:visited, a.button_blue:active, a.button_blue:hover {
height:29px; 
font-family:Tahoma; 
line-height:130%;
background:url('images/buttonBgBlue.gif') repeat-x top; 
color:#ffffff; 
padding:6px 15px 6px 15px;
}


.b         {font-weight:bold;}
.b700      {font-weight:700;}
.underline {text-decoration:underline;}
.overline  {text-decoration:line-through;}
.italic    {font-style:italic;}

/* Text (color,font size,align) */
h1         {font-family:'Belgrano', serif; font-size:38px; color:#c40200; letter-spacing:-1px; line-height:40px;}
h2         {font-family:verdana; font-size:18px;}
h3         {font-family:verdana; font-size:14px;}

p          {text-align:justify; word-break:normal}

.txl       {text-align:left;}
.txr       {text-align:right;}
.f12       {font-size:12px;}
.f14       {font-size:14px;}
.f18       {font-size:18px;}
.f24       {font-size:24px;}
.org       {color:#ed3801;}
.pur       {color:#856bd9;}
.gry       {color:#777777;}
.red       {color:#cd4638 !important;}
.white     {color:#ffffff;}
.ver       {font-family:Verdana;}
.arl       {font-family:Arial;}
.lineH     {line-height:90%;}


/* Contents */
.p_tx {margin-top:20px;}


/* New Global Menu Css 2013.12.09 JoyJung */
div.Gmenu:after {content:""; display:block; clear:both;}
div.Gmenu ul    {float:right; margin:0; padding:0;}
div.Gmenu ul:after {content:""; display:block; clear:both;}
div.Gmenu ul li {float:left; margin:0; padding:4px 10px; list-style:none; background:url('images/Gmenu_linebg.gif') no-repeat right;}
div.Gmenu a.Glink:link,a.Glink:visited,a.toplink:active {color:#000; font-size:11px; text-decoration:none;}
div.Gmenu a.Glink:hover {color:#be1628; font-size:11px; text-decoration:underline;}
div.Gmenu .overText {color:#ec1515; font-size:11px;}



/* Global Menu */
div.GlobalContainer                     {width:960px; height:26px; margin:0 auto; border-bottom:1px #ccc solid;}
div.GlobalContainer .GlobalBox          {margin:0 auto;}
div.GlobalContainer .GlobalBox:after    {display:block; content:""; clear:both;}
div.GlobalContainer .GlobalBox ul       {float:right; margin:0; padding:0;}
div.GlobalContainer .GlobalBox ul li    {margin:0; padding:4px 10px; list-style:none; float:left; border-left:1px #dadbdc solid; background:url('images/global_topmenu_bgs.gif') repeat-x;}
div.GlobalContainer .GlobalBox a.Glink:link,a.Glink:visited,a.toplink:active {color:#000; font-size:11px; text-decoration:none;}
div.GlobalContainer .GlobalBox a.Glink:hover {color:#be1628; font-size:11px; text-decoration:underline;}
div.GlobalContainer .GlobalBox .overText {color:#ec1515; font-size:11px;}



/* Layout */
#main_outline {margin:0 auto; width:100%; background:url('images/contents_bg.gif') repeat-x top;}
.contents     {text-align:justify; margin-top:40px; margin-left:20px; margin-right:10px;}
.fl           {float:left;}
.fr           {float:right;}
.cl           {clear:both;}

div.Head             {padding:10px 10px 0 0; height:50px;}
div.Head .Headleft   {float:left; padding-top:20px;}
div.Head .Headright  {float:right; padding-top:30px; color:#444; font-family:Verdana; font-size:11px;}

div.Footer             {background-color:#000000; padding:10px 0 10px 0;}
div.Footer .FooterBody {color:#dddddd; text-align:center;}


/* Navigation */
div.navigation         {width:740px; height:50px; margin:0 auto;}
div.navigation ul      {margin:0; padding:0;}
div.navigation li      {float:left; padding:15px 25px 0 37px; margin:0; list-style:none;}
div.navigation a.navi:link,a.navi:visited,a.navi:active,a.navi:hover{color:#fff; font-size:16px; font-weight:700;}

div.subnavi            {margin:0; padding:0;}
div.subnavi .title     {font-size:24px; font-weight:700; text-align:center; margin-top:50px; margin-bottom:40px; letter-spacing:-1px;}

div.subnavi ul         {margin:0; padding:0;}
div.subnavi li         {padding:10px 10px 10px 20px; border-bottom:2px #ffffff solid; list-style:none; background-color:#f2f2f2;}
a.subnaviLink:link, a.subnaviLink:visited, a.subnaviLink:active {font-family: 'Open Sans', sans-serif; text-decoration: none; color: #333333; font-size:14px; line-height:100%; font-weight:700;}
a.subnaviLink:hover    {font-family: 'Open Sans', sans-serif; text-decoration: underline; color:#000000; font-size:14px; line-height:100%; font-weight:700;}

a.subnaviLink2:link, a.subnaviLink2:visited, a.subnaviLink2:active {color: #666666; text-decoration: none; font-size:12px;}
a.subnaviLink2:hover    {color:#000000; text-decoration: underline; font-size:12px;}

.lnb_3depth            {padding:3px 0 0 0;}


/* Sub Visual Img */
div.SubVisual01 {width:100%; height:189px; background:url('images/visual01.jpg') no-repeat top center;}
div.SubVisual02 {width:100%; height:189px; background:url('images/visual01.jpg') no-repeat top center;}
div.SubVisual03 {width:100%; height:189px; background:url('images/visual01.jpg') no-repeat top center;}
div.SubVisual04 {width:100%; height:189px; background:url('images/visual01.jpg') no-repeat top center;}
div.SubVisual05 {width:100%; height:189px; background:url('images/visual01.jpg') no-repeat top center;}
div.SubVisual06 {width:100%; height:189px; background:url('images/visual01.jpg') no-repeat top center;}


/* About Sprott-Shaw */
div.history ul {margin:0; padding:0; list-style:none;}
div.history li {color:#fff; padding:7px; border-bottom:1px #f2f2f2 solid; list-style:none;}
div.history .f {background-color:#5bbf3d;}
div.history .s {background-color:#7ad060;}
div.history .t {float:left; font-weight:bold; font-size:14px; color:#fff; width:80px;}

/* Cambridge TKT */
.programImg {float:right; border:0px; margin-top:10px; font-size:0px;}


/*////////////////// Member Design //////////////////////*/
/* Login Design */
div.Login               {width:950px; height:260px; background:#ffffff; padding:40px 0 40px 0;}
div.Login .LoginTitle   {font-size:30px; font-weight:bold; font-family:Arial; color:#000000; padding-left:40px;}
div.Login .LoginTx1     {font-size:20px; font-weight:bold; font-family:Arial; color:#000000; line-height:20px;}
div.Login .LoginTx2     {font-size:14px; font-family:Arial; color:#777777;}

a.LoginLink:link, a.LoginLink:visited, a.LoginLink:active {font-size:14px; font-family:Arial; color:#777777; text-decoration:underline;}
a.LoginLink:hover    {font-size:14px; font-family:Arial; color:#777777; text-decoration: none;}

/* Member */
/* div.Member                 {width:950px; height:328px; background:url('images/member_bg.jpg') no-repeat top center; padding-left:40px; padding-right:40px;}*/
div.Member .MemberTitle    {font-size:30px; font-weight:bold; font-family:Arial; color:#000000; margin-top:30px;}
div.Member .MemberTxt1     {font-size:14px; font-family:Arial; color:#777777;}
div.Member ul              {margin:0; padding:0;}
div.Member ul li           {margin:0; padding:0; padding-top:5px; list-style:none;}

/* quick Menu */
div.quickMenu                  {width:950px; margin:0 auto; height:150px; padding:0; text-align:left;}
div.quickMenu .quickMenuTitle  {margin:0; padding:10; font-weight:bold;}
div.quickMenu .quickPart       {margin:0; padding:0; float:left; list-style:none; width: 20%; padding-left: 5%;}
div.quickMenu ul               {margin:0; padding:0;}
div.quickMenu ul li ul li      {margin:0; padding:0; list-style:none;}

a.quickMenuLink:link, a.quickMenuLink:visited, a.quickMenuLink:active {color: #d4d4d4; text-decoration: none;}
a.quickMenuLink:hover   {color:#ffffff; text-decoration:underline;}



.lian_top    {  border-top-width:1px; border-top-color:#c6cae1; border-top-style:solid; }
.lian_bottom {  border-bottom-width:1px; border-bottom-color:#c6cae1; border-bottom-style:solid; }
.lian_right  {  border-right-width:1px; border-right-color:#c6cae1; border-right-style:solid; }
.lian_left   {  border-left-width:1px; border-left-color:#c6cae1; border-left-style:solid; }

.lian_green_t   {  border-top-width:1px; border-color:#dcf5a2; border-top-style:solid; }
.lian_green_b   {  border-bottom-width:1px; border-color:#dcf5a2; border-bottom-style:solid; }
.lian_green_r   {  border-right-width:1px; border-color:#dcf5a2; border-right-style:solid; }
.lian_green_l   {  border-left-width:1px; border-color:#dcf5a2; border-left-style:solid; }


.lian_input { border:1px solid #ccc; }



/* bukyoung jung 2009.7.9*/
.sub_title     {font-size:14pt; font-family:tahoma; color:#7584d3; font-weight:bold;}
.b             {font-weight:bold;}
.underline     {text-decoration:underline;}
.cgray         {color:#999999}

.table_blue    {background-color:#eeecfb;}
.table_green_t {background-color:#eafdba;}
.table_green_b {background-color:#f1fed0;}




/* new main */
div .mainBox1  {padding-top:20px; padding-left:20px;}
div .mainBox1 .title {font-size:18px; color:#ffffff; line-height:110%; font-weight:700;}
div .mainBox1 .text  {font-size:13px; color:#ffffff; padding-top:10px;}

div .mainBox2  {padding-top:20px; padding-left:20px;}
div .mainBox2 .title {font-size:18px; color:#333333; line-height:110%; font-weight:700;}
div .mainBox2 .text  {font-size:13px; color:#333333; line-height:120%; padding-top:10px;}

div .mainArrow {padding-top:15px; padding-left:20px;}
div .mainArrow .title {font-size:15px; line-height:115%; font-weight:700;}
div .mainArrow .text  {width:130px; font-size:11px; line-height:115%;}
a.mainredLink:link, a.mainredLink:visited, a.mainredLink:active {font-size:11px; color: #bb0301; text-decoration:underline;}
a.mainredLink:hover   {font-size:11px; color: #bb0301; text-decoration:underline;}

/* 여기는 옛날 css. 수정해도 소용없다. */