.footer-copyright {
    text-align: right;
    padding: 0px 10px 10px 10px ;
    color: #FFFFFF;
}

.footer-copyright a {
    font-weight: bold;
    color: #FFFFFF;
}

.footer-copyright a:hover {
    font-weight: bold;
    color: #FFFFFF;
}