.login-box {

}

.cb {clear: both;}

.login-left {
  width: 43%;
  height: auto;
  float: left;
}
.login-container {
  width: 70%;
  margin: auto;
  padding-top: 20px;
}

.login-logo {
  height: 60px;
}
.login-title {
  height: 40px;
  font-weight: bold;
  font-size: 24px;
}

.login-label {
  height: 20px;
  font-size: 14px;
}

.login-input {
  min-height: 50px;
  font-size: 14px;
}

.login-input input {
  width: 98%;
  min-height: 40px;
  padding: 10px;
  border: solid 1px #CCCCCC;
  border-radius: 5px;
  background-color: #FFFFFF !important;
}

.forgot-password {
  width: 49%;
  text-align: left;
  float: left;
  margin-bottom: 30px;
}

.create-account {
  width: 49%;
  text-align: right;
  float: left;
  margin-bottom: 30px;
}

.button-line-hr {
  border-top: solid 1px #CCCCCC;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 98%;
}

.button-box-sign-in {
  margin-bottom:15px;
  height: 45px;
  padding: 10px 10px 30px 10px;
  border: solid 1px #CCCCCC;
  text-align: center;
  border-radius: 5px;
  width: 98%;
  font-weight: bold;
  cursor: pointer;
}

#login-form .error {
  min-height: 20px;
  color: #FF0000;
  padding-bottom: 10px;
  width: 98%;
}

.login-label span {
  color: #FF0000;
}

.button-box-sign-in input {
  border: none;
  background-color: transparent;
  width: 100%;
  color: #FFFFFF;
  font-weight: bold;
}

.button-box {
  margin-bottom:15px;
  height: 45px;
  padding: 10px 10px 30px 10px;
  border: solid 1px #CCCCCC;
  text-align: center;
  border-radius: 5px;
  width: 98%;
  font-weight: bold;
  cursor: pointer;
}

.button-box input {
  border: none;
  background-color: transparent;
}

.button-color-1 {
  background-color: #FF922B;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 16px;
}

.button-color-1 {
  background-color: #FF922B;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 16px;
}

.button-color-2 {
  background-color: #FFE812;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 16px;
}

.button-color-2 span {
  color: #3C1E1E;
}

.create-new-account {
  height: 20px;
  color: #1d2124;
  text-align: center;
}

.create-new-account a {
  color: #80bdff;
}

.button-color-3 {
  background-color: #00C73C;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 16px;
}

.button-color-4 {
  background-color: #1877F2;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 16px;
}

.button-color-5 {
  background-color: #F8F8F9;
  color: #000000;
  font-weight: bold;
  font-size: 16px;
}

.button-color-6 {
  background-color: #000000;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 16px;
}

.login-right {
  width: 57%;
  height: auto;
  float: left;
}

.login-right img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

